.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  max-width: 696px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-left: auto;
  margin-right: auto;
  &__background {
    text-align: center;
    left: 0px;
    top: 80px;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    outline: 1px solid var(--secondary-text-color);
    margin-left: auto;
    margin-right: auto;
    background-color: var(--footer-background);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/hero.jpg);
    background-size: cover;
  }
  &__button {
    width: 216px;
    height: 50px;
    margin-top: 30px;
  }
}
